<div class="user_box">
  <% if user_signed_in? %>
  
  <div class="name">
    <%= current_user.email %>
  </div>
  <div class="user_posts">
    <div class="posts_count">
      <%=  current_user.posts.public.count %>
    </div>
  
    <div class="text">
      显示中的帖子
    </div>
  </div>
    
  <div class="cell">
    <div class="new_post">
      <%= link_to "发贴", new_post_path %>
    </div>
    <div class="manage_posts">
      <%= link_to "管理", self_posts_path %>
    </div>
  </div>
  <% else %>
  <%= link_to "登录", new_user_session_path %>
  <% end %>
</div>