  <div class="row">
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="tradeArea">
        <div class="category">
          <%= link_to "全部", posts_path, class: "active" %>
          <% Category.all.each do |i| %>
          <%= link_to i.name, posts_path(tab: i, school: @school), id: "category_#{i.id}"%>
          <% end %>
        </div>
        <div class="tradeList">
          <% @posts.each do |post|%>
            <%= render "post", post: post %>
          <% end %>
        </div>

        <div class="paginate"><%= paginate @posts %></div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 hidden-xs">
        <div class="user_cell">
          <%= render "public/user_cell"%>
        </div>
    </div>
  </div>






<script>
<% if @tab %>
$(".category a").removeClass("active");
$("#category_<%= @tab.id %>").addClass("active");
<% end %>
</script>