<div class="bg_white">
	
	<ul class="nav nav-tabs">
	  <li><%= link_to "显示中的帖子", self_posts_path %> </li>
	  <li class="active"> <%= link_to "已删除的帖子", deleted_posts_path %> </li>
	</ul>
  
  
	<% if @posts.blank? %>
	<div class="blank_posts">
    暂无
	</div>
	<% else %>
  
  <table class="posts table table-hover">
    <tr>
      <th>标题</th>
      <th>恢复</th>
      <th>时间</th>
    </tr>
	<% @posts.each do | post | %>
  <tr>
		<td><%= link_to post.title, post_path(post)%></td>
    <td><%= link_to "恢复", recover_post_path(post), method: :put %></td>
    <td><%= post.created_at.strftime("%Y/%m/%d %H:%M") %></td>
  </tr>
	  <% end %>
  </table>
	<% end %>
</div>