<div class="user_box">
  <% if user_signed_in? %>
  
  <div class="name">
    <%= current_user.email %>
  </div>
  <div class="user_posts">
    <div class="posts_count">
      <%=  current_user.posts.public.count %>
    </div>
  
    <div class="text">
      显示中的帖子
    </div>
  </div>

  <div class="cell row">
    <div class="new_post col-md-6">
      <%= link_to "发贴", new_post_path, class: "btn btn-default" %>
    </div>
    <div class="manage_posts col-md-5">
      <%= link_to "管理", self_posts_path, class: "btn  btn-default" %>
    </div>
  <% else %>
  <%= link_to "登录", new_user_session_path %>
  <% end %>
  </div>
</div>